:host {
  display: block;
  flex: 1;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  gap: 10px;
}
.game-card {
  height: fit-content;
  &__title-container {
    height: 150px;
    width: 100%;
    background-color: cadetblue;
    position: relative;
  }
  &__title {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  &__price {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin-bottom: 0;
  }
  &__description {
    padding-top: 16px;
  }
  &__button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
