/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-color-from-palette(mat.$grey-palette, 50);
}

.small-card {
  width: 320px;
  &__title {
    margin: 0 auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__action-container {
    display: flex;
    justify-content: center;
  }
}

mat-card.wide-card {
  min-height: 50vh;
  width: 100%;
  max-width: 1200px;
  margin: 120px auto 0;
  padding: 20px 60px;
  box-sizing: border-box;
}
